---
import SimpleLayout from "../layouts/SimpleLayout.astro";
---

<SimpleLayout title="404" description="This page does not exist.">
	<section class="hero">
		<div>
			<p class="eyebrow">404</p>
			<h1>lost page</h1>
			<p class="hero-summary">
				The page you are looking for is not part of this site anymore.
				Try the homepage or the blog index.
			</p>
			<div class="hero-actions">
				<a class="button" href="/">homepage</a>
				<a class="button secondary" href="/blogs/">blogs</a>
			</div>
		</div>
	</section>
</SimpleLayout>
